<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>头部</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>d_home.css">
</head>
<body>
<div class="header">
    <div class="left"><a href="<?php echo PHP_PATH?>grd_grzl"><img src="<?php echo IMG_PATH?>lj_img/lj_by_03.png" alt="" style="width: 0.19rem;height:0.3rem"></a></div>
    <div class="middle">· 个人信息 ·</div>
    <div class="right"><a href="#"><img src="<?php echo IMG_PATH?>lj_header2.png" alt=""></a></div>
</div>
<div class="pic">
    <div class="mask"></div>
    <h2>我的头像</h2>
    <a class="back"></a>
    <div class="touxiang" style="background: url(<?php echo $data['pic']?>) no-repeat center/cover"></div>
</div>
<div class="list">
    <ul>
        <li>
            <div class="tu" style="background: url(<?php echo IMG_PATH?>d_3.png) no-repeat center/cover"></div>
            <h2>用户名</h2>
            <p><?php echo $data['name']?></p>
        </li>
        <li>
            <div class="tu" style="background: url(<?php echo IMG_PATH?>d_4.png) no-repeat center/cover"></div>
            <h2>手机号</h2>
            <p><?php echo $data['phone']?></p>
        </li>
        <li>
            <div class="tu" style="background: url(<?php echo IMG_PATH?>d_5.png) no-repeat center/cover"></div>
            <h2>邮箱</h2>
            <p><?php echo $data['email']?></p>
        </li>
        <li>
            <div class="tu" style="background: url(<?php echo IMG_PATH?>d_6.png) no-repeat center/cover"></div>
            <h2>微信</h2>
            <p><?php echo $data['weixin']?></p>
        </li>
        <li>
            <div class="tu" style="background: url(<?php echo IMG_PATH?>d_7.png) no-repeat center/cover"></div>
            <h2>QQ</h2>
            <p><?php echo $data['qq']?></p>
        </li>
        <li>
            <div class="tu" style="background: url(<?php echo IMG_PATH?>d_8.png) no-repeat center/cover"></div>
            <h2>地址</h2>
            <p><?php echo $data['dizhi']?></p>
        </li>

    </ul>

</div>
<a  class="footer"  href="<?php echo PHP_PATH?>grd_grzl">
    <p>确定</p>
</a>

</body>
</html>

