<link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
<script src="<?php echo JS_PATH?>base.js"></script>
<ul class="footer">
    <li class="active"><a href="<?php echo PHP_PATH?>home/index">
        <div class="pic"></div>
        <span>首页</span>
    </a></li>
    <li><a href="<?php echo PHP_PATH?>zjt_design">
        <div class="pic"></div>
        <span>设计师</span>
    </a></li>
    <li><a href="<?php echo PHP_PATH?>lj_shoping/index">
        <div class="pic"></div>
        <span>购物车</span>
    </a></li>
    <li><a href="<?php echo PHP_PATH?>lzn_my">
        <div class="pic"></div>
        <span>我的</span>
    </a></li>
    <li><a href="<?php echo PHP_PATH?>lyx_state/lyx_state">
        <div class="pic"></div>
        <span>动态</span>
    </a></li>
</ul>