<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>gj_search.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
    <script src="<?php echo JS_PATH?>jquery-3.2.1.js"></script>
    <script src="<?php echo JS_PATH?>gj_search.js"></script>
</head>
<body>
<?php include VIEW_PATH.'search.html'?>

<div class="header">
    <div class="left"><a href="<?php echo PHP_PATH?>home/index"><img src="<?php echo IMG_PATH?>lj_img/lj_by_03.png"
                                                                     alt="" style="width: 0.19rem;height:0.3rem"></a>
    </div>
    <div class="middle">
        <img src="<?php echo IMG_PATH?>lj_header8.png" alt="" style="width:0.16rem;height:0.08rem">
        <?php echo $title?>
        <img src="<?php echo IMG_PATH?>lj_header9.png" alt="" style="width:0.16rem;height:0.08rem">
    </div>
    <div class="right"><a href="#"><img src="<?php echo IMG_PATH?>lj_header2.png" alt=""></a></div>
</div>


<div class="entry">
    <div class="top"></div>
    <ul class="bottom"></ul>
</div>
<div class="gj_main">
    <ul class="gj_nav">
        <li class="item">
            <img src="<?php echo IMG_PATH?>gj_img/gj_search_img2.png" alt="" class="active">
            <span>文字搜索</span>
        </li>
        <li class="item">
            <img src="<?php echo IMG_PATH?>gj_img/gj_search_img2.png" alt="">
            <span>语音搜索</span>
        </li>
        <li class="item">
            <img src="<?php echo IMG_PATH?>gj_img/gj_search_img2.png" alt="">
            <span>照片搜索</span>
        </li>
        <li class="item">
            <img src="<?php echo IMG_PATH?>gj_img/gj_search_img2.png" alt="">
            <span>精准搜索</span>
        </li>
    </ul>
    <ul class="gj_con">
        <li class="content active">
            <?php include VIEW_PATH.'gj_search1.html'?>
        </li>
        <li class="content">
            <?php include VIEW_PATH.'gj_search2.html'?>
        </li>
        <li class="content">
            <?php include VIEW_PATH.'gj_search3.html'?>
        </li>
        <li class="content">
            <?php include VIEW_PATH.'gj_search4.html'?>
        </li>
    </ul>
</div>
</body>
</html>