<div class="accuracy">
    <div class="price">
        <span class="name">价格</span>
        <input  type="text" value="1000" class="input">
        <input  type="text" value="0" class="input">
        <ul class="option">
            <li class="active hot">1000元以下
                <input type="hidden" value="0-1000">
            </li>
            <li>1000-2500
                <input type="hidden" value="1000-2500">
            </li>
            <li style="opacity:0"></li>
            <li>2500-4000
                <input type="hidden" value="1500-4000">
            </li>
            <li>4000元以上
                <input type="hidden" value="4000-5500">
            </li>
            <li>价格不限</li>
        </ul>
    </div>
    <div class="style">
        <span class="name">风格</span>
        <div class="over">全部</div>
        <ul class="option">
            <li class="active hot">英式<br>田园</li>
            <li>新古典</li>
            <li>现代风</li>
            <li>新中式</li>
            <li>地中海</li>
            <li>混搭</li>
            <li>普罗<br>旺斯</li>
            <li>洛可可</li>
        </ul>
    </div>
    <a class="button">
        <span>确  定</span>
        <span>D E T E R M I N E</span>
    </a>
</div>