<div class="accuracy">
    <div class="price">
        <span class="name">价格</span>
        <input  type="text" value="0" class="input1">
        <input  type="text" value="1000" class="input2">
        <ul class="option">
            <li class="active hot">1000元以下
                <input type="hidden" value="0-1000">
            </li>
            <li>1000-2500
                <input type="hidden" value="1000-2500">
            </li>
            <li style="opacity:0"></li>
            <li>2500-4000
                <input type="hidden" value="1500-4000">
            </li>
            <li>4000元以上
                <input type="hidden" value="4000-5500">
            </li>
            <li>价格不限</li>
        </ul>
    </div>
    <div class="style">
        <span class="name">风格</span>
        <div class="over">全部</div>
        <ul class="option">
            <?php foreach($data as $v):?>
            <li id="<?php echo $v['id']?>"><?php echo $v['name']?></li>
            <?php endforeach;?>
        </ul>
    </div>
    <a class="button">
        <span>确  定</span>
        <span>D E T E R M I N E</span>
    </a>
</div>