<div class="photo">
    <span class="span1">图片搜索记录</span>
    <span class="span2">THE IMAGE SEARCH ERCORDS</span>
    <ul class="img">
        <li style="background-image:url('<?php echo IMG_PATH?>gj_img/gj_photo1.png');" id="photo">
            <span>打开相册</span>
            <form id="form">
                <input type="file" id="file" name="url" enctype="multipart/form-data" style="width:2rem;opacity:0;height:2rem;position: absolute">
            </form>
            <input type="hidden">
        </li>
        <?php foreach($datas as $v):?>
        <li id="<?php echo $v['pic']?>" style="background-image:url(<?php echo $v['pic']?>);background-size:100% 100%" class="imgs"></li>
        <!--<li style="background-image:url('<?php echo IMG_PATH?>gj_img/gj_photo3.png');"></li>-->
        <!--<li style="background-image:url('<?php echo IMG_PATH?>gj_img/gj_photo4.png');"></li>-->
        <!--<li style="background-image:url('<?php echo IMG_PATH?>gj_img/gj_photo5.png');"></li>-->
        <!--<li style="background-image:url('<?php echo IMG_PATH?>gj_img/gj_photo6.png');"></li>-->
        <!--<li style="background-image:url('<?php echo IMG_PATH?>gj_img/gj_photo7.png');"></li>-->
        <!--<li style="background-image:url('<?php echo IMG_PATH?>gj_img/gj_photo8.png');"></li>-->
        <!--<li style="background-image:url('<?php echo IMG_PATH?>gj_img/gj_photo9.png');"></li>-->
        <?php endforeach;?>
    </ul>
</div>
