<link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">

<div class="header">
    <div class="left"><a href="<?php echo PHP_PATH?>grd_grzl"><img src="<?php echo IMG_PATH?>lj_header1.png" alt=""></a></div>
    <!--<div class="left"><a href="<?php echo PHP_PATH?>d_home/index"><img src="<?php echo IMG_PATH?>lj_header1.png" alt=""></a></div>-->
    <div class="middle">
        <img src="<?php echo IMG_PATH?>lj_header8.png" alt="" style="width:0.16rem;height:0.08rem">
        <?php echo $title?>
        <img src="<?php echo IMG_PATH?>lj_header9.png" alt=""  style="width:0.16rem;height:0.08rem">
    </div>
    <div class="right"><a href="<?php echo PHP_PATH?>/lzn_my/lzn_news"><img src="<?php echo IMG_PATH?>lj_header2.png" alt=""></a></div>
</div>



