<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>lj_shopingdetail.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>swiper.min.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
    <script src="<?php echo JS_PATH?>swiper.min.js"></script>
    <script src="<?php echo JS_PATH?>jquery-3.2.1.js"></script>
    <script src="<?php echo JS_PATH?>lj_shopingdetail.js"></script>
</head>

<body>

<div class="header">
    <div class="left"><a href="javascript:history.back()"><img src="<?php echo IMG_PATH?>lj_img/lj_by_03.png" alt="" style="width: 0.19rem;height:0.3rem"></a></div>
    <div class="middle">
        <img src="<?php echo IMG_PATH?>lj_header8.png" alt="" style="width:0.16rem;height:0.08rem">
        <?php echo $title?>
        <img src="<?php echo IMG_PATH?>lj_header9.png" alt=""  style="width:0.16rem;height:0.08rem">
    </div>
    <div class="right"><a href="#"><img src="<?php echo IMG_PATH?>lj_header2.png" alt=""></a></div>
</div>

<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="<?php echo IMG_PATH?>lj_img/lj_shopdetail1_03.png" alt=""></div>
            <div class="swiper-slide"><img src="<?php echo IMG_PATH?>lj_img/lj_shopdetail1_03.png" alt=""></div>
            <div class="swiper-slide"><img src="<?php echo IMG_PATH?>lj_img/lj_shopdetail1_03.png" alt=""></div>
            <div class="swiper-slide"><img src="<?php echo IMG_PATH?>lj_img/lj_shopdetail1_03.png" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="content">
    <div class="sofa">
        <div class="c1"></div>
        <div class="c2"></div>
        <span>新中式奢华沙发</span>
        <div class="c2"></div>
        <div class="c1"></div>
    </div>
    <div class="font2">NEW CHINESE STYLE LUXURY SOFA</div>
    <strong class="add">+</strong>
    <p>独特外观专利产品，全网独家；家具木器专用漆，环保健康，安全可靠；只为做到更好。</p>
    <div class="color">
        <span>COLOR</span>
        <ul>
            <li>
                <div class="circle" style="background: #4D4640"></div>
                <p style="color: #4D4640">褐色</p>
            </li>
            <li>
                <div class="circle" style="background: #435262"></div>
                <p style="color: #435262">深蓝</p>
            </li>
            <li>
                <div class="circle" style="background: #78787A"></div>
                <p style="color: #78787A">深灰</p>
            </li>
        </ul>
    </div>
</div>

<div class="product">
    <div class="sofa">
        <div class="c1"></div>
        <div class="c2"></div>
        <span>产品保障</span>
        <div class="c2"></div>
        <div class="c1"></div>
    </div>
    <div class="main">
        <img src="<?php echo IMG_PATH?>lj_img/lj_shopd1_03.png" alt="">
        <span>外观企业专业证书</span>
        <p>公司拥有20年专业家具设计经验，为你设计出具品质的实木家具。</p>
        <p>专利产品，品质保证，给你的家选择品质家居吧</p>
    </div>
</div>

<ul class="foot">
    <li>
        <img src="<?php echo IMG_PATH?>lj_img/lj_shopde2_07.png" alt="">
    </li>
    <li>
        <img src="<?php echo IMG_PATH?>lj_img/lj_shopde2_09.png" alt="">
    </li>
    <a href="#"><span>立即购买</span></a>
    <li class="shops">
        <img src="<?php echo IMG_PATH?>lj_img/lj_shopde2_12.png" width="0.61rem" height="0.57rem"
             alt="">
    </li>
</ul>

<div class="contentbye">
    <div class="close">
        <img src="../../public/img/lj_img/lj_bye1_11.png" alt="">
    </div>
    <div class="choice">
        请选择
        <span>&nbsp;·&nbsp;COLOR</span>
    </div>
    <ul class="color">
        <li>
            <div class="circle" style="background: #4D4640"></div>
            <p style="color: #4D4640">褐色</p>
        </li>
        <li>
            <div class="circle" style="background: #435262"></div>
            <p style="color: #435262">深蓝</p>
        </li>
        <li>
            <div class="circle" style="background: #78787A"></div>
            <p style="color: #78787A">深灰</p>
        </li>
        <li>
            <div class="circle" style="background: #000000"></div>
            <p style="color: #000000">纯黑</p>
        </li>
    </ul>
    <div class="size">
        请选择
        <span>&nbsp;·&nbsp;SIZE</span>
    </div>
    <ul class="sizes">
        <li>150*200CM</li>
        ·
        <li>180*200CM</li>
        ·
        <li>200*200CM</li>
    </ul>
    <div class="number">
        请选择
        <span>&nbsp;·&nbsp;NUMBER</span>
    </div>
    <div class="nums">
        <div class="min">-</div>
        <div class="num">01</div>
        <div class="add">+</div>
    </div>
    <div class="total">
        <span>2426.60</span>
        <div class="trmb">
            <span>总价</span>
            <span>RMB</span>
        </div>
        <a class="pay" style="display: flex;justify-content: center;align-items: center" href="<?php echo PHP_PATH?>d_order/pay">立即支付</a>
    </div>
</div>

<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
</script>

</body>
</html>

