<link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
<ul class="footer">
    <li class="active"><a href="<?php echo PHP_PATH?>lyx_state/lyx_state">
        <div class="pic"></div>
        <span>推荐</span>
    </a></li>
    <li><a href="<?php echo PHP_PATH?>lyx_state/lyx_publish">
        <div class="pic"></div>
        <span>发表</span>
    </a></li>
    <li><a href="<?php echo PHP_PATH?>lyx_state/lyx_atten">
        <div class="pic"></div>
        <span>我的关注</span>
    </a></li>
</ul>
<style>
    .footer li{
        width: 33.3%;
    }
</style>