<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>lyx_state.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
    <script src="<?php echo JS_PATH?>jquery-3.2.1.js"></script>
    <script src="<?php echo JS_PATH?>lyx_state.js"></script>
</head>
<body>
<?php include VIEW_PATH.'header.html'?>
<?php include VIEW_PATH.'lyx_footer.html'?>
<style>
    body{
        width: 100%;
        background-image:url('<?php echo IMG_PATH?>lyximg/lyx_back.png');
        background-repeat:no-repeat;
        background-size:100%;
        background-position: 0 0.88rem;
    }
</style>

<div class="header">
    <div class="left"><a href="<?php echo PHP_PATH?>home/index"><img src="<?php echo IMG_PATH?>lyximg/lyx_head.png" alt=""></a></div>
    <div class="middle">
        <img src="<?php echo IMG_PATH?>lj_header8.png" alt="" style="width:0.16rem;height:0.08rem">
        <?php echo $title?>
        <img src="<?php echo IMG_PATH?>lj_header9.png" alt=""  style="width:0.16rem;height:0.08rem">
    </div>
    <div class="right"><a href="#"><img src="<?php echo IMG_PATH?>lj_header2.png" alt=""></a></div>
</div>
<div class="main">
    <!--文章-->
    <?php foreach($state as $v):?>
    <div class="cont" id="<?php echo $v['id']?>">
        <div class="peo">
            <div class="peoimg">
                <img src="<?php echo IMG_PATH?>lyximg/lyx_peoimg.png" class="pimg">
            </div>
            <h1><?php echo $v['she_name']?></h1>
            <?php if($v['guanzhu']==0):?>
                <img src="<?php echo IMG_PATH?>lyximg/lyx_guan.png" class="guan">
            <?php endif;?>
            <a href="<?php echo PHP_PATH?>lyx_state/lyx_particulars?id=<?php echo $v['id']?>" class="yuedu">
                <img src="<?php echo IMG_PATH?>lyximg/lyx_more.png" class="more">
            </a>
        </div>
        <img src="<?php echo IMG_PATH?>lyximg/lyx_fen.png" class="fen">
        <div class="fontcon">
            <h2><?php echo $v['title']?></h2>
            <div class="box">
                <?php if($v['uid']==1):?>
                    <p><?php echo $v['content']?></p>
                <?php endif;?>
                <?php if($v['uid']==2):?>
                <?php  $arr=explode('?',$v['img']);?>
                    <div class="boxborder">
                        <img src="<?php echo IMG_PATH?>lyximg/<?php echo $arr[0]?>" alt="">
                    </div>
                    <div class="boxborder">
                        <img src="<?php echo IMG_PATH?>lyximg/<?php echo $arr[1]?>" alt="">
                    </div>
                    <?php if(count($arr)>3):?>
                        <div class="boxborder">
                            <img src="<?php echo IMG_PATH?>lyximg/<?php echo $arr[2]?>" alt="">
                        </div>
                    <?php endif;?>
                <?php endif;?>
                <?php if($v['uid']==3):?>
                <?php  $arr=explode('?',$v['img']);?>
                    <img src="<?php echo IMG_PATH?>lyximg/<?php echo $arr[0]?>" class="one">
                <?php endif;?>
            </div>
        </div>
        <ul class="bot">
            <li>
                <img src="<?php echo IMG_PATH?>lyximg/lyx_bot1.png" alt="">
                <span><?php echo $v['num1']?></span>
            </li>
            <li>
                <img src="<?php echo IMG_PATH?>lyximg/lyx_bot2.png" alt="">
                <span><?php echo $v['num2']?></span>
            </li>
            <li>
                <img src="<?php echo IMG_PATH?>lyximg/lyx_bot3.png" alt="">
                <span><?php echo $v['num3']?></span>
            </li>
            <li class="time"><span><?php echo $v['time']?></span></li>
        </ul>
    </div>
    <?php endforeach ;?>
    <!--&lt;!&ndash;图文3&ndash;&gt;-->
    <!--<div class="cont">-->
        <!--<div class="peo">-->
            <!--<div class="peoimg">-->
                <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_peoimg.png" class="pimg">-->
            <!--</div>-->
            <!--<h1>胡艳Silvia</h1>-->
            <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_guan.png" class="guan">-->
            <!--<a href="<?php echo PHP_PATH?>lyx_state/lyx_particulars">-->
                <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_more.png" class="more">-->
            <!--</a>-->
        <!--</div>-->
        <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_fen.png" class="fen">-->
        <!--<div class="fontcon">-->
            <!--<h2>适合小户型的“新中式”装修风格到底应该怎么搭配</h2>-->
            <!--<div class="box">-->
                <!--<div class="boxborder">-->
                    <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_tu1.png" alt="">-->
                <!--</div>-->
                <!--<div class="boxborder">-->
                    <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_tu2.png" alt="">-->
                <!--</div>-->
                <!--<div class="boxborder">-->
                    <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_tu3.png" alt="">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<ul class="bot">-->
            <!--<li>-->
                <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_bot1.png" alt="">-->
                <!--<span>12138</span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_bot2.png" alt="">-->
                <!--<span>13580</span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_bot3.png" alt="">-->
                <!--<span>17580</span>-->
            <!--</li>-->
            <!--<li><span>2013-05-30</span></li>-->
        <!--</ul>-->
    <!--</div>-->

    <!--&lt;!&ndash;图文1&ndash;&gt;-->
    <!--<div class="cont">-->
        <!--<div class="peo">-->
            <!--<div class="peoimg">-->
                <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_peoimg.png" class="pimg">-->
            <!--</div>-->
            <!--<h1>胡艳Silvia</h1>-->
            <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_guan.png" class="guan">-->
            <!--<a href="<?php echo PHP_PATH?>lyx_state/lyx_particulars">-->
                <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_more.png" class="more">-->
            <!--</a>-->
        <!--</div>-->
        <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_fen.png" class="fen">-->
        <!--<div class="fontcon">-->
            <!--<h2>适合小户型的“新中式”装修风格到底应该怎么搭配</h2>-->
            <!--<div class="box">-->
                <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_one.png" class="one">-->
            <!--</div>-->
        <!--</div>-->
        <!--<ul class="bot">-->
            <!--<li>-->
                <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_bot1.png" alt="">-->
                <!--<span>12138</span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_bot2.png" alt="">-->
                <!--<span>13580</span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<img src="<?php echo IMG_PATH?>lyximg/lyx_bot3.png" alt="">-->
                <!--<span>17580</span>-->
            <!--</li>-->
            <!--<li><span>2013-05-30</span></li>-->
        <!--</ul>-->
    <!--</div>-->


</div>


</body>
</html>