<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>lzn_css/lzn_base.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>lzn_css/lzn_news.css">
</head>
<body>

<?php include VIEW_PATH.'header.html'?>

<div class="header">
    <div class="return">
        <a href="javascript:history.back()">
            <img src="<?php echo IMG_PATH?>lzn_img/lzn_return.png" alt="">
        </a>
    </div>
    <div class="middle">
        <img src="<?php echo IMG_PATH?>lj_header8.png" alt="">
        <?php echo $title?>
        <img src="<?php echo IMG_PATH?>lj_header9.png" alt="">
    </div>
</div>
<a class="neikuan">
    <a class="news_box">
        <?php foreach ($data as $v):?>
        <a class="substance" href="<?php echo PHP_PATH?>lzn_my/lzn_talk">
            <div class="head">
                <img src="<?php echo $v['pic']?>" alt="">
            </div>
            <div class="xinxi">
                <h1><?php echo $v['name']?></h1>
                <h2><?php echo $v['content']?></h2>
            </div>
            <div class="time">
                <span><?php echo $v['time']?></span>
            </div>
        </a>
        <?php endforeach;?>



</body>
</html>
