<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>lzn_css/lzn_base.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>lzn_css/lzn_follow.css">
</head>
<style>
    .search{
        z-index: 123;
    }
</style>
<body>

<?php include VIEW_PATH.'header.html'?>
<?php include VIEW_PATH.'search.html'?>

<div class="daohang">
    A B C D E F G H I J K L M N O P Q R S T U V W X Y Z #
</div>
<div class="header">
    <div class="left"><a href="javascript:history.back()"><img src="<?php echo IMG_PATH?>lzn_img/lzn_return.png" alt=""></a></div>
    <div class="middle">
        <img src="<?php echo IMG_PATH?>lj_header8.png" alt="" style="width:0.16rem;height:0.08rem">
        <?php echo $title?>
        <img src="<?php echo IMG_PATH?>lj_header9.png" alt=""  style="width:0.16rem;height:0.08rem">
    </div>
    <div class="right"><a href="#"><img src="<?php echo IMG_PATH?>lj_header2.png" alt=""></a></div>
</div>
<div class="follow_bg">
    <div class="follow_box">
        <h1>A</h1>
        <div class="linkman">
            <div class="head">
                <img src="<?php echo IMG_PATH?>lzn_img/lzn_my13.jpg" alt="">
            </div>
            <h2>Arial</h2>
        </div>
        <div class="linkman">
            <div class="head">
                <img src="<?php echo IMG_PATH?>lzn_img/lzn_my14.jpg" alt="">
            </div>
            <h2>Arial</h2>
        </div>

        <h1>B</h1>
        <div class="linkman">
            <div class="head">
                <img src="<?php echo IMG_PATH?>lzn_img/lzn_my15.png"alt="">
            </div>
            <h2>Arial</h2>
        </div>

        <h1>C</h1>
        <div class="linkman">
            <div class="head">
                <img src="<?php echo IMG_PATH?>lzn_img/lzn_my16.jpg" alt="">
            </div>
            <h2>Arial</h2>
        </div>
        <div class="linkman">
            <div class="head">
                <img src="<?php echo IMG_PATH?>lzn_img/lzn_my17.jpg" alt="">
            </div>
            <h2>Arial</h2>
        </div>
        <div class="linkman">
            <div class="head">
                <img src="<?php echo IMG_PATH?>lzn_img/lzn_my18.jpg" alt="">
            </div>
            <h2>Arial</h2>
        </div>
        <div class="linkman">
            <div class="head">
                <img src="<?php echo IMG_PATH?>lzn_img/lzn_my19.jpg" alt="">
            </div>
            <h2>Arial</h2>
        </div>
        <h1>D</h1>
        <div class="linkman">
            <div class="head">
                <img src="<?php echo IMG_PATH?>lzn_img/lzn_my20.jpg" alt="">
            </div>
            <h2>Arial</h2>
        </div>
        <div class="linkman">
            <div class="head">
                <img src="<?php echo IMG_PATH?>lzn_img/lzn_my19.jpg" alt="">
            </div>
            <h2>Arial</h2>
        </div>
    </div>
</div>














<?php include VIEW_PATH.'footer.html'?>
</body>
</html>
