<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>lzn_css/lzn_base.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>lzn_css/lzn_my.css">
</head>

<body>

<?php include VIEW_PATH.'header.html'?>

<div class="my_bg">

    <div class="my_box "style="padding-left: 0">
        <div class="neikuan">
            <a class="my_title" href="<?php echo PHP_PATH?>grd_grzl">
                <h1>设置</h1>
                <span></span>
            </a>
            <div class="my_content">
                <img src="<?php echo IMG_PATH?>lzn_img/lzn_my1.png" alt="">
                <div class="touxiang"></div>
                <h2>胡艳Sliva</h2>
            </div>
            <div class="my_footer">
                <h1><a href="<?php echo PHP_PATH?>lzn_my/lzn_follow">我的关注  1230</a></h1>
                <h2><a href="<?php echo PHP_PATH?>lzn_my/lzn_follow">我的粉丝  1230</a></h2>
            </div>
        </div>
    </div>
    <div class="neikuan">
        <div class="order">
            <ul>
                <li><a href="">
                    <h1>我的收藏</h1>
                    <h2>COLLECTION</h2>
                </a></li>
                <li><a href="">
                    <h1>我的订单</h1>
                    <h2>CRDER FORM</h2>
                </a></li>
                <li><a href="<?php echo PHP_PATH?>lzn_my/lzn_news">
                    <h1>我的客服</h1>
                    <h2>CUSTOMER</h2>
                </a></li>
            </ul>
        </div>
        <div class="huiyuan">
            <div class="header1"><h3>我的会员</h3></div>
            <div class="content">
                离白金会员差 <h1>358</h1>积分
                </div>
        </div>
        <div class="points">
            <div class="titler">
                <h1>积分兑换</h1>
                <span></span>
            </div>
            <div class="content1">
                <ul>
                    <li>
                       <h1>
                           12166
                           <span>积分</span>
                       </h1>
                        <div class="artist">
                            <div class="next">
                                <h3>中式摆件禅意玄关树脂工艺品</h3>
                                <h4>666人已兑换</h4>
                            </div>
                            <a class="last" href="<?php echo PHP_PATH?>lj_shoping/shopinglist">
                                <h5 style="color: #fff">兑换</h5>
                            </a>
                        </div>
                    </li>
                    <li>
                        <h1>
                            12166
                            <span>积分</span>
                        </h1>
                        <div class="artist">
                            <div class="next">
                                <h3>中式摆件禅意玄关树脂工艺品</h3>
                                <h4>666人已兑换</h4>
                            </div>
                            <a class="last" href="<?php echo PHP_PATH?>lj_shoping/shopinglist">
                                <h5 style="color: #fff">兑换</h5>
                            </a>
                        </div>
                    </li>
                    <li>
                        <h1>
                            12166
                            <span>积分</span>
                        </h1>
                        <div class="artist">
                            <div class="next">
                                <h3>中式摆件禅意玄关树脂工艺品</h3>
                                <h4>666人已兑换</h4>
                            </div>
                            <a class="last" href="<?php echo PHP_PATH?>lj_shoping/shopinglist">
                                <h5 style="color: #fff">兑换</h5>
                            </a>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>















<?php include VIEW_PATH.'footer.html'?>
</body>
</html>
