<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>lzn_css/lzn_base.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>lzn_css/lzn_talk.css">
</head>
<body>

<?php include VIEW_PATH.'header.html'?>
<div class="header">
    <div class="left"><a href="javascript:history.back()"><img src="<?php echo IMG_PATH?>lzn_img/lzn_return.png" alt=""></a></div>
    <div class="middle">
        <img src="<?php echo IMG_PATH?>lj_header8.png" alt="" style="width:0.16rem;height:0.08rem">
        <?php echo $title?>
        <img src="<?php echo IMG_PATH?>lj_header9.png" alt=""  style="width:0.16rem;height:0.08rem">
    </div>
    <div class="right"><a href="#"><img src="<?php echo IMG_PATH?>lj_header2.png" alt=""></a></div>
</div>
<div class="neikuan">
    <div class="talk_content">
        <div class="tou">
            <img src="<?php echo IMG_PATH?>lzn_img/lzn_talk4.png" alt="">
        </div>
        <div class="neirong">
            <a herf="#">您好，有什么疑问都可以问我</a>
        </div>
    </div>
    <div class="talk_content">
        <div class="neirong">
            <a herf="#">可以送货上门吗？
            </a>
        </div>
        <div class="tou">
            <img src="<?php echo IMG_PATH?>lzn_img/lzn_my16.jpg" alt="">
        </div>

    </div>
    <div class="talk_content">

        <div class="tou">
            <img src="<?php echo IMG_PATH?>lzn_img/lzn_talk4.png" alt="">
        </div>
        <div class="neirong">
            <a herf="#">可以的，而且如果您对商品有任何不满的，我们都可以帮您免费退货</a>
        </div>
    </div>
    <!--<div class="time">-->
        <!--<span>下午 7:35</span>-->
    <!--</div>-->
    <div class="talk_content">
        <div class="cuo">
            <img src="<?php echo IMG_PATH?>lzn_img/lzn_66.png" alt="">
        </div>
        <div class="neirong">
            <img src="<?php echo IMG_PATH?>lzn_img/lzn_talk7.png" alt="">
        </div>

        <div class="tou">
            <img src="<?php echo IMG_PATH?>lzn_img/lzn_my16.jpg" alt="">
        </div>

    </div>
    <div class="talk_content">
        <div class="neirong">
            <img src="<?php echo IMG_PATH?>lzn_img/lzn_talk6.png" alt="">
        </div>
        <div class="tou">
            <img src="<?php echo IMG_PATH?>lzn_img/lzn_my16.jpg" alt="">
        </div>

    </div>
    <div class="talk_content">
        <div class="tou">
            <img src="<?php echo IMG_PATH?>lzn_img/lzn_talk4.png" alt="">
        </div>
        <div class="neirong">
            <a herf="#">谢谢您提出的问题，对您的使用上带来的不便，深感抱歉！</a>
        </div>
    </div>
</div>
<ul class="talk_footer">
    <li><img src="<?php echo IMG_PATH?>lzn_img/lzn_talk1.png" alt=""></li>
    <li><span></span></li>
    <li><img src="<?php echo IMG_PATH?>lzn_img/lzn_talk2.png" alt=""></li>
    <li><img src="<?php echo IMG_PATH?>lzn_img/lzn_talk3.png" alt=""></li>
</ul>













</body>
</html>
