<div class="con">
    <div class="fenlei" >
        <a class="toptitle">后台管理</a>
        <ul class="nav fenlei listtab">
            <li><a href="<?php echo PHP_PATH;?>wtf_user_admin" class="<?php echo $title=='用户管理'? 'active' : '';?>">用户管理</a></li>
            <li><a href="<?php echo PHP_PATH;?>d_index_manger" class="<?php echo $title=='主页商品分类'? 'active' : '';?>">主页商品分类</a></li>
            <li><a href="<?php echo PHP_PATH;?>lj_shoping_admin"  class="<?php echo $title=='商品列表管理'?  ' active':'' ;?>">商品列表</a></li>
            <li><a href="<?php echo PHP_PATH;?>lj_shopingdetail_admin"  class="<?php echo $title=='商品详情管理'?  ' active':'' ;?>">商品详情</a></li>
            <li><a href="<?php echo PHP_PATH?>gj_labelAdmin/index#list"  class="<?php echo $title=='商品标签'?  ' active':'' ;?>">商品标签</a></li>
            <li><a href="<?php echo PHP_PATH?>lyx_state_admin/index#list"  class="<?php echo $title=='动态管理'?  ' active':'' ;?>">动态管理</a></li>
            <li><a href="<?php echo PHP_PATH?>zjt_designmanage/index"  class="<?php echo $title=='设计师管理'?  ' active':'' ;?>">设计师管理</a></li>
            <li><a href="<?php echo PHP_PATH?>lzn_fans_admin"  class="<?php echo $title=='粉丝管理'?  ' active':'' ;?>">粉丝管理</a></li>
            <li><a href="<?php echo PHP_PATH?>lzn_follow_admin"  class="<?php echo $title=='关注管理'?  ' active':'' ;?>">关注管理</a></li>

        </ul>
    </div>
</div>
<link rel="stylesheet" href="<?php echo CSS_PATH?>select.css">