<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="<?php echo CSS_PATH ;?>bootstrap.min.css">
    <title><?php echo $title ;?></title>
    <script src="<?php echo JS_PATH ;?>jquery-3.2.1.js"></script>
    <script>
        $(function(){
            $('.dropdown-toggle').on('click',function(){
                $(this).next().toggle();
                return false;
            })
            $(document).on('click',function(){
                $('.dropdown-menu').hide();
            })
            var tip=$('.tip');
            $(document).ajaxStart(function(){
                tip.animate({width:'80%'})
            })
            $(document).ajaxSuccess(function(){
                tip.stop().animate({width:'100%'},function(){
                    tip.css('width','0')
                })
            })

        })
    </script>
    <style>
        .tip{
            position: fixed;
            height: 3px;
            width: 0;
            background: #ff3341;
            z-index: 99999999;
        }
    </style>
</head>
<body>
<div class="tip"></div>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">创家居管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="<?php echo $title=='用户管理'?  ' active':'' ;?>"><a href="<?php echo PHP_PATH;?>wtf_user_admin ">用户管理 <span class="sr-only">(current)</span></a></li>
                <li class="<?php echo $title=='主页商品分类'?  ' active':'' ;?>"><a href="#">主页商品分类</a></li>
                <li class="<?php echo $title=='商品列表'?  ' active':'' ;?>"><a href="<?php echo PHP_PATH;?>lj_shoping_admin">商品列表</a></li>
                <li class="<?php echo $title=='商品详情'?  ' active':'' ;?>"><a href="#">商品详情</a></li>
                <li class="<?php echo $title=='动态管理'?  ' active':'' ;?>"><a href="#">动态管理</a></li>
                <li class="<?php echo $title=='设计师管理'?  ' active':'' ;?>"><a href="#">设计师管理</a></li>
                <li class="<?php echo $title=='粉丝管理'?  ' active':'' ;?>"><a href="#">粉丝管理</a></li>
                <li class="<?php echo $title=='关注管理'?  ' active':'' ;?>"><a href="#">关注管理</a></li>
            </ul>
            <li style="list-style: none ;margin-top:15px" class="navbar-right"><a href="">退出登陆</a></li>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>