<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?php echo $title?></title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>zjt_info.css">
</head>
<body>
<!--消息头部-->
<div class="header">
    <div class="left"><a href="<?php echo PHP_PATH?>zjt_design"><img src="<?php echo IMG_PATH?>zjt_img/zjt_back.png" alt=""></a></div>
    <div class="middle">
        <img src="<?php echo IMG_PATH?>lj_header8.png" alt="" style="width:0.16rem;height:0.08rem">
        <?php echo $title?>
        <img src="<?php echo IMG_PATH?>lj_header9.png" alt="" style="width:0.16rem;height:0.08rem">
    </div>
    <div class="right"><a href="#"></a></div>
</div>

<!--消息第一块-->

<div class="zjt_info">
    <div class="zjt_infoDemo">
        <div class="zjt_infocircle">
            <img src="<?php echo IMG_PATH?>zjt_img/zjtinfo2.png" alt="">
        </div>
        <div class="zjt_infotext">
            <p>胡艳 <span>Sliva</span></p>
            <p>这个宝贝能稍微便宜点吗！</p>
        </div>
        <div class="zjt_infoTime">
            2017/7/6
        </div>
    </div>
    <div class="zjt_infoDemo zjt_infoDemo1">
        <div class="zjt_infocircle">
            <img src="<?php echo IMG_PATH?>zjt_img/zjtinfo2.png" alt="">
        </div>
        <div class="zjt_infotext">
            <p>胡艳 <span>Sliva</span></p>
            <p>这个宝贝能稍微便宜点吗！</p>
        </div>
        <div class="zjt_infoTime">
            2017/7/6
        </div>
    </div>
</div>