<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?php echo $title?></title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>zjt_details.css">
</head>
<style>
    a{
        text-decoration: none;
        color: #ffffff;
    }
</style>
<body>
<!--设计师详情头部-->
<div class="header">
    <div class="left"><a href="<?php echo PHP_PATH?>zjt_design"><img src="<?php echo IMG_PATH?>zjt_img/zjt_back.png" alt=""></a></div>
    <div class="middle">
        <img src="<?php echo IMG_PATH?>lj_header8.png" alt="" style="width:0.16rem;height:0.08rem">
        <?php echo $title?>
        <img src="<?php echo IMG_PATH?>lj_header9.png" alt="" style="width:0.16rem;height:0.08rem">
    </div>
    <div class="right"><a href="<?php echo PHP_PATH?>zjt_design/zjt_info"><img src="<?php echo IMG_PATH?>lj_header2.png" alt=""></a></div>
</div>
<!--设计师详情页第一块-->
<div class="zjt_detailsOne">
    <div class="zjt_detailsMask">
        <div class="zjt_detailsWrap">
            <div class="zjt_Wrapone">
                <div><a href="<?php echo PHP_PATH?>zjt_design/zjt_details" class="zjt_WrapA" style="display:block;width: 100%;height:100%"></a></div>
                <div>
                    <div class="zjt_img"></div>
                </div>
                <div></div>
            </div>
            <p class="zjt_Wraptwo">
                <?php echo $name?>
            </p>
            <p class="zjt_Wrapthree">
                <a href="<?php echo PHP_PATH?>lzn_my/lzn_follow"> Ta的关注 <span class="zjt_num"><?php echo $notice?></span> </a>&nbsp;&nbsp;
                <a href="<?php echo PHP_PATH?>lzn_my/lzn_fans"> Ta的粉丝 <span class="zjt_num"><?php echo $fans?></span></a>
            </p>
        </div>
    </div>
</div>

<!--设计师详情页第二块-->

<div class="zjt_detailsTwo" style="height: 5.32rem">
    <div class="zjt_detailsTwoWrap">
        <div>
            <img src="<?php echo IMG_PATH?>zjt_img/zjtdetails6.png" alt="">
            <div class="zjt_my">
                <span>我的介绍</span>
                <div class="zjt_line">
                    <div class="zjt_lineOne"></div>
                    <div class="zjt_lineTwo"></div>
                    <div class="zjt_lineThree"></div>
                </div>
                <p>introduce</p>
            </div>
            <img src="<?php echo IMG_PATH?>zjt_img/zjtdetails6.png" alt="">
        </div>
        <div>
            <p><?php echo $content?></p>
            <p> 湖北省科技型中小企业技术创新基金评审委员会专家，湖北省综合招投标中心招标评标专家，武汉市科技型企业技术创新基金暨重大产业化项目评审委员会专家。</p>
        </div>
        <!--
        <div class="zjt_more">
            <a href="">
                more
                <img src="<?php echo IMG_PATH?>zjt_img/zjt_back.png" alt=""> 
            </a>
        </div>
        -->
    </div>
</div>
<!--设计师详情页第三块-->

<div class="zjt_detailsThree" style="height: 6.5rem">
    <div class="zjt_ThreeWrap">
        <div class="zjt_Threedemo">
            <img src="<?php echo IMG_PATH?>zjt_img/zjtdetails6.png" alt="">
            <div class="zjt_my">
                <span>我的作品</span>
                <div class="zjt_line">
                    <div class="zjt_lineOne"></div>
                    <div class="zjt_lineTwo"></div>
                    <div class="zjt_lineThree"></div>
                </div>
                <p>my works</p>
            </div>
            <img src="<?php echo IMG_PATH?>zjt_img/zjtdetails6.png" alt="">
        </div>
        <div class="zjt_Wraptwo">
            <div class="zjt_Wrapdemo2">
                <img src="<?php echo IMG_PATH?>/zjt_img/zjtdetails8.png" alt="" class="zjt_wrapimg1">
                <div class="zjt_wraptext">
                    <p class="zjt_Wraptwop">中式禅意风格 <span></span> 煮一杯清茶 闻香知雅意</p>
                    <div class="zjt_WraptwoLine">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <p class="zjt_Wraptwop2">
                        美式复古客厅装饰品新中式陶瓷花瓶干花<br/>
                        仿真插花花艺禅意瓷器摆件
                    </p>
                    <p class="zjt_Wraptwop3">￥ <span class="zjt_detailsThreePrice">796.3</span></p>
                </div>
            </div>
            <div class="zjt_Wrapdemo2">
                <img src="<?php echo IMG_PATH?>/zjt_img/zjtdetails10.png" alt="" class="zjt_wrapimg1">
                <div class="zjt_wraptext">
                    <p class="zjt_Wraptwop">中式禅意风格 <span></span> 煮一杯清茶 闻香知雅意</p>
                    <div class="zjt_WraptwoLine">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <p class="zjt_Wraptwop2">
                        美式复古客厅装饰品新中式陶瓷花瓶干花<br/>
                        仿真插花花艺禅意瓷器摆件
                    </p>
                    <p class="zjt_Wraptwop3">￥ <span class="zjt_detailsThreePrice">796.3</span></p>
                </div>
            </div>
        </div>
        <!--
        <div class="zjt_more">
            <a href="">
                more
                <img src="<?php echo IMG_PATH?>zjt_img/zjt_back.png" alt="">
            </a>
        </div>
        -->
    </div>
</div>


<!--设计师详情页第四块-->
<div class="zjt_detailsfour" style="height: 4.6rem;">
    <div class="zjt_detailsWrap">
        <div class="zjt_Threedemo">
            <img src="<?php echo IMG_PATH?>zjt_img/zjtdetails6.png" alt="">
            <div class="zjt_my">
                <span>Ta的关注</span>
                <div class="zjt_line">
                    <div class="zjt_lineOne"></div>
                    <div class="zjt_lineTwo"></div>
                    <div class="zjt_lineThree"></div>
                </div>
                <p>interest</p>
            </div>
            <img src="<?php echo IMG_PATH?>zjt_img/zjtdetails6.png" alt="">
        </div>
        <div class="zjt_fourTwo">
            <div class="zjt_fourDemo1">
                <div class="zjt_demo1One">
                    <div class="zjt_demo1Onemask">
                        <div class="zjt_demo1OneCircle"></div>
                    </div>
                    <div class="zjt_demo1img">
                        <img src="<?php echo IMG_PATH?>zjt_img/zjtdetails13.png" alt="">
                    </div>
                    <p class="zjt_demo1word">匠艺</p>
                    <p class="zjt_demo1word2">1234,38 关注</p>
                </div>
            </div>
            <div class="zjt_fourDemo1">
                <div class="zjt_demo1One">
                    <div class="zjt_demo1Onemask">
                        <div class="zjt_demo1OneCircle"></div>
                    </div>
                    <div class="zjt_demo1img">
                        <img src="<?php echo IMG_PATH?>zjt_img/zjtdetails13.png" alt="">
                    </div>
                    <p class="zjt_demo1word">Cindy</p>
                    <p class="zjt_demo1word2">1432,23 关注</p>
                </div>
            </div>
            <div class="zjt_fourDemo1">
                <div class="zjt_demo1One">
                    <div class="zjt_demo1Onemask">
                        <div class="zjt_demo1OneCircle"></div>
                    </div>
                    <div class="zjt_demo1img">
                        <img src="<?php echo IMG_PATH?>zjt_img/zjtdetails13.png" alt="">
                    </div>
                    <p class="zjt_demo1word">Arial</p>
                    <p class="zjt_demo1word2">1841,38 关注</p>
                </div>
            </div>
        </div>
        <!--
        <div class="zjt_more">
            <a href="">
                more
                <img src="<?php echo IMG_PATH?>zjt_img/zjt_back.png" alt="">
            </a>
        </div>
        -->
    </div>
</div>


























